    @font-face {
        font-family: "NATS";
        src: url("font/NATS.ttf.woff") format("woff"), url("font/NATS.ttf.svg#NATS") format("svg"), url("font/NATS.ttf.eot"), url("font/NATS.ttf.eot?#iefix") format("embedded-opentype");
        font-weight: normal;
        font-style: normal;
    }
    
     ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #bbbbbb;
        opacity: 1;
        /* Firefox */
    }
    
    body {
        font-family: "NATS", sans-serif;
        letter-spacing: 1px;
        font-weight: 400;
        margin-bottom: 2rem;
        background-color: #2b0e0e;
        color: black;
    }
    
    .tabcontent {
        padding: 6px 30px;
        border: none;
        border-top: none;
    }
    
    .searchbox {
        width: auto;
        width: 360px;
        height: 45px;
        background: #ffffff;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 10px;
    }
    
    .header {
        display: flex;
        flex-direction: row !important;
        margin: 10px;
        margin-left: 20px;
        justify-content: space-between;
        letter-spacing: 0em;
    }
    
    .grid-container {
        display: relative;
        flex-direction: row !important;
        gap: 2rem;
        display: flex;
        justify-content: space-between;
        margin: 40px;
        margin-right: -40px;
        padding: 30px;
        margin-left: 100px;
    }
    
    .img-container {
        position: relative;
    }
    
    .grid-header {
        position: absolute;
        margin-top: 2rem;
        margin-left: 1rem;
        font-family: NATS;
        font-size: 35px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .grid-text {
        font-family: "NATS";
        font-style: normal;
        position: absolute;
        margin-top: 5rem;
        margin-left: 1rem;
        font-family: NATS;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #6a6a6a;
        font-size: 19.1321px;
        line-height: 88%;
        display: flex;
        align-items: center;
        width: 150px;
    }
    
    #myDIV {
        padding-left: 350px;
        overflow: auto;
        width: auto;
    }
    
    .card {
        background: #FFFFFF;
        border-radius: 15.8334px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
        margin: 20px;
    }
    
    .card-upper-text {
        font-size: 20px;
        font-weight: bold;
        padding: 5px 10px;
        background-color: #FEA945;
        box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.75);
        border-radius: 8px;
        color: white;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
    
    .card-food {
        font-size: 20px;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: -0.11428570002317429px;
        text-align: left;
    }
    
    .card-calorie {
        font-size: 14px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0em;
        text-align: left;
        align-items: center;
        /* or 8px */
        display: flex;
        color: #A3A1A1;
    }
    
    .card-num-circle {
        background: #9C74F5;
        border-radius: 50px;
        color: white;
        padding: 5px
    }
    
    .card-num {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height */
        /* color: #FFFFFF; */
        color: #9C74F5;
    }
    
    .recipe-add-btn {
        position: inherit;
        justify-content: flex-end;
        display: flex;
        margin: 0px -60px 0px -60px;
        margin-bottom: 200px;
    }
    
    @media screen and (max-width: 720px) {
        .searchbox {
            width: auto;
        }
        .header {
            display: flex;
            flex-direction: column !important;
            margin: 10px;
            margin-left: 20px;
        }
    }