body{
    font-family: 'Poppins' !important;
  }
  .login-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  input{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    min-width: 500px;
    padding: 8px 16px;
    gap: 8px;
  }
  ::placeholder {
    color: #EBEBEB;
    font-size: 16px;
    font-weight: 400;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #EBEBEB;
   font-size: 16px;
   font-weight: 400;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #EBEBEB;
   font-size: 16px;
   font-weight: 400;
  }
  input[type=submit]{
    background-color: #7282FB;
    border: none;
    color: white;
    padding: 10px 22px;
    border-radius: 10px;
    text-decoration: none;
    margin: 4px 2px;
    width: 50%;
  }
  input[type=sign-up]{
    border: 1px solid #EBEBEB;
    color: #7282FB;
    align-items: center;
    padding: 10px 22px;
    border-radius: 10px;
    text-decoration: none;
    margin: 4px 2px;
    width: 50%;
  }
  /* Shared */
.loginBtn {
    border: 1px solid #EBEBEB;
    padding: 10px;
    border-radius: 5px;
    min-width: auto;
    width: 150px;
    background-color: #FFFFFF;
}
.center-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    }