.blank{
    position: absolute;
    left:240;
    top:365px;
    justify-content:space-evenly;
}
.steps-div{
    position: absolute;
width: 278px;
height: 276px;
left: 318px;
top: 363px;

background: linear-gradient(208.27deg, rgba(255, 108, 108, 0.891) 40.23%, rgba(255, 92, 0, 0.468) 95.3%);
border-radius: 14px;
}

.heart-rate-div{
    position: absolute;
width: 278px;
height: 274px;
left: 702px;
top: 363px;

background: linear-gradient(206.14deg, rgba(255, 96, 145, 0.81) 0%, rgba(81, 39, 221, 0.468) 145.34%);
border-radius: 14px;

}
.water-div{
    position: absolute;
width: 278px;
height: 274px;
left: 1080px;
top: 364px;

background: linear-gradient(208.27deg, rgba(39, 142, 255, 0.72) 41.57%, rgba(98, 113, 255, 0.416) 93.17%);
border-radius: 14px;

}
.weight-track-div{
    
    position: absolute;
width: 278px;
height: 275px;
left: 327px;
top: 679px;

background: linear-gradient(237.6deg, rgba(78, 205, 196, 0.468) -24.24%, rgba(85, 98, 112, 0.81) 100%);
border-radius: 14px;
}
.sleep-track-div{
    position: absolute;
width: 279px;
height: 275px;
left: 702px;
top: 681px;

background: linear-gradient(208.27deg, rgba(69, 24, 219, 0.81) 30.7%, rgba(123, 41, 255, 0.468) 95.3%);
border-radius: 14px;

}
.calorie -track-div{
    
position: absolute;
width: 278px;
height: 275px;
left: 1080px;
top: 681px;

background: linear-gradient(61.08deg, rgba(221, 94, 137, 0.9) 0%, rgba(247, 187, 151, 0.52) 130.74%);
border-radius: 14px;
}
