.clients{
    margin-left: 18rem;
    font-weight: 400;
    margin-top: 1.5rem;
    font-family: poppins;  
}
.clients_container{
    display: flex;
    gap: 18rem;
}

.clients_operations{
    display: flex;
    gap: 2rem;
}
#btn1{
    background-color:white;
    border: none; 
    color: #9C74F5;
    width: auto;    
}
.add_set_client{  
    width: auto; 
    margin-top: 1rem;
    color: #9C74F5;   
    background-color:white;
    box-shadow: 0.7px 0.7px 2.5px 1.5px rgb(231, 208, 253);
    border-radius:0.6rem;
    font-size: medium;
    border: none;
    display: flex;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}
#btn2{
    width: auto;
    background-color:#FD2B2B;
    border: none; 
    color: white; 
    margin-top: 1rem;   
    border-radius: 0.6rem;
    box-shadow: 0.6px 0.6px 2px 1px #ccc;
    padding: 0.5rem;
    padding-bottom: 0.3rem;
}
.search_client{  
    width: auto; 
    margin-top: 1rem;
    color: #ACACAC;   
    background-color:white;
    box-shadow: 0.6px 0.6px 2px 1px #ccc;
    border-radius:0.6rem;
    font-size: medium;
    border: none;
    display: flex;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}
#btn3{
    width: auto;
    background-color:white;
    border: none; 
    color: #ACACAC;    
}
.seach_clients_text{
  border: none;  
}
.clients_container2{
    margin-top: 2rem;
}
.clients_container3{
    display: none;
}
#active{
    border: none;
    background-color: white;
    font-weight: 500;
    font-size: 1.2rem;
    border: 1px solid transparent;
    width: auto;
}
#active:hover{
    border-bottom:0.25rem solid #4B9AFB; 
}
.client_wrapper1{
    padding: 1.5rem;
    display: flex;
    gap: 1rem;
    }
    .client_wrapper2{
        padding: 1.5rem;
        display: flex;
        gap: 1rem;
        }   
.client_profile{
    height: 9rem;
    width: auto;
    background-color: #FAFAFA;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    gap: 1.5rem;
}
img{
    width: 4rem;
    height: 5rem;
    border-radius: 100%;
}

#btn4{
    background-color: white;
    border-color: #4B9AFB;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    margin-top: 0.8rem;
    width: auto;
}
@media screen and (max-width: 720px) {
    .clients{
        margin-left: 2rem;
    }
    .clients_container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .add_set_client{
        font-size: 0.8rem;
    }
    .add_set{
        margin-top: 0.3rem;
    }
    .client_wrapper1{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0.1rem;
    }
    .client_wrapper2{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0.1rem;
    }
    .clients_container3{
        display: flex;
        flex-direction: column;
        gap: 1rem;  
    }
    .clients_operations{
        display: flex;
        gap:0.5rem;
    }
    .clients_container3{
        display: none;
    }

 
 }


